---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Hero from "../../components/Hero.astro";
import About from "../../components/About.astro";
import Services from "../../components/Services.astro";
import Pricing from "../../components/Pricing.astro";
import Gallery from "../../components/Gallery.astro";
import Booking from "../../components/Booking.astro";
import Reviews from "../../components/Reviews.astro";
import Location from "../../components/Location.astro";
import Footer from "../../components/Footer.astro";

const lang = "en";
---

<Layout lang={lang}>
  <Navbar lang={lang} />
  <main id="main-content">
    <Hero lang={lang} />
    <About lang={lang} />
    <Services lang={lang} />
    <Pricing lang={lang} />
    <Gallery lang={lang} />
    <Booking lang={lang} />
    <Reviews lang={lang} />
    <Location lang={lang} />
  </main>
  <Footer lang={lang} />
</Layout>
